@import "tailwindcss";

@theme {
  --color-primary-50: #f5f5f5;
  --color-primary-100: #e5e5e5;
  --color-primary-200: #d4d4d4;
  --color-primary-300: #a3a3a3;
  --color-primary-400: #737373;
  --color-primary-500: #525252;
  --color-primary-600: #404040;
  --color-primary-700: #262626;
  --color-primary-800: #171717;
  --color-primary-900: #0a0a0a;
}

:root {
  --background: #ffffff;
  --foreground: #020817;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--background);
  color: var(--foreground);
}

.loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #171717; 
  border-radius: 50%;
  width: 24px;
  height: 24px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
